<module>
	<rawname>silentmonitor</rawname>
	<name>Silent Monitor</name>
	<version>1.5.2</version>
	<changelog>
		1.5.2 Added to contributed modules repository
	</changelog>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<menuitems>
		<silentmonitor>Silent Monitor</silentmonitor>
	</menuitems>
	<location>release/silentmonitor-1.5.2.tgz</location>
	<md5sum>1d24ab8f24652229cac7b44de64c4ebe</md5sum>
</module>
