<module>
	<rawname>silentmonitor</rawname>
	<name>Silent Monitor</name>
	<version>1.5.2</version>
	<changelog>
		1.5.2 Added to contributed modules repository
	</changelog>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<menuitems>
		<silentmonitor>Silent Monitor</silentmonitor>
	</menuitems>
	<location>release/2.4/silentmonitor-1.5.2.tgz</location>
	<md5sum>83b552d1c530cbe2f7d6c0d5d892c85b</md5sum>
</module>
