<module>
	<rawname>silentmonitor</rawname>
	<name>Silent Monitor</name>
	<version>1.5.2</version>
	<changelog>
		1.5.2 Added to contributed modules repository
	</changelog>
	<type>setup</type>
	<category>Third Party Addon</category>
	<menuitems>
		<silentmonitor>Silent Monitor</silentmonitor>
	</menuitems>
	<location>contributed_modules/release/silentmonitor-1.5.2.tgz</location>
	<md5sum>52291f9bd8600af6f17db9131fee28f9</md5sum>
</module>
